html, body {
  overflow-x: hidden;
  width:100%;
}
img {
	object-fit: cover;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	font-weight: normal;
	font-style: normal;
}
.navbar {
  background-color: transparent;
  height: 60px;
  margin-bottom:-60px;
}
.navbar-brand {
  margin-top:-2px;
}
div {
  border-color: transparent;
}
a {
  text-decoration:none;
  color:black;
}
h1 {
  color:#EE4D2D;
  text-transform: capitalize;
  font-size:15pt;
  font-style:bold;
  margin-top:-7px;
  margin-bottom:2px;
}
.fixed {
  position: fixed;
  background-color: #EE4D2D;
  z-index: 2;
}
#carouselExampleSlidesOnly {
  z-index:-2;
  margin:-15px;
  margin-bottom:-11px;
}
.btn {
  background-color: #EE4D2D;
  color:white;
}
#btn-scroll {
  display: inline-block;
  background-color: #EE4D2D;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
}
#btn-scroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 38px;
  color: #fff;
}
#btn-scroll:hover {
  cursor: pointer;
  background-color: #333;
}
#btn-scroll:active {
  background-color: #555;
}
#btn-scroll.show {
  opacity: 1;
  visibility: visible;
}
#header {
  margin-top:8px;
  margin-right:-10px;
  margin-bottom:10px;
  display:grid;
  grid-template-columns: auto auto;
  column-gap: 100%;
}
.cariBarang {
  margin-right:15px;
  margin-top:18px;
}
#search-produk {
  width: 100%;
  font-size: 15px;
  background: #E9EEF0;
  border: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 18px 18px;
  border-radius: 5px;
  padding: .5em 2.5em .5em 3em;
} 
#search-produk::placeholder{
  color: #838D99;
}
#search-produk:focus {
  outline: none;
  background-color: #FFF;
  border: none;
}

.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	background: #ffffff;
	border-radius: 10px;
}
.nama-produk {
  height:18px;
  margin-left:8px;
  padding-right:10px;
  margin-top:8px;
  overflow: hidden;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
  font-size:12pt;
  color:black;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
         line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.inner-title-produk {
  height:70px;
  margin-top:-10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
         line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.harga-produk {
  margin-left:8px;
  padding-right:5px;
  padding-bottom:5px;
  color:black;
  font-size:14pt;
  color:red;
}
.tombol-produk {
  color:white;
  text-align: center;
  width: 35%;
  background: #EE4D2D;
  border-radius:20px;
  padding:5px;
  border:none;
}

#offcanvasBottom {
  border-top-left-radius:10px;border-top-right-radius:10px;height:250px
}
.offcanvas-header {
  margin-top:-2px;background-color:#EE4D2D;border-top-left-radius:10px;border-top-right-radius:10px;
}
.close-btn {
  background-color:#f7f7f7;margin-top:-7px;width:50px;height:5px;text-align:center;border-radius:5px
}
.rupiah {
  color:#EE4D2D;display:flex;float:left;padding-top:7px;font-size:11pt
}
.full-width-image h1 {
  color: #000;
  font-size: 100%;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  width:100%;
  text-align: center;
  z-index:100002;
}
.row {
  padding: 16px 0 0;
}
.row:not(:last-of-type) .blocks {
  border-bottom: 1px solid rgba(200, 199, 204, 0.25);
}
.banner {
  position: relative;
}
.banner .banner__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.blocks {
  display: flex;
  flex: 1 0 100%;
  max-width: 100%;
  padding: 0 8px 16px 16px;
}
.blocks--horizontal {
  margin-bottom:-25px;
  margin-top:-5px;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
}
.blocks .block {
  flex: 1 0 80px;
  max-width: 80px;
}
.blocks .block a {
  display: block;
  text-decoration: none;
  max-width: 64px;
}
.blocks .block .block__image {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #C8C7CC;
  border-radius: 50%;
  margin-bottom: 6px;
}
.block__title {
  height:13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
         line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.blocks .block .block__title {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  text-align: center;
  word-break: break-word;
}
.blocks .block .block__button {
  margin: 16px;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  align-items: center;
  transition: 225ms background ease, 375ms color ease-out;
  border: 1px solid;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  color: #007aff;
  border-color: rgba(0, 122, 255, 0.5);
}
.blocks .block .block__button:hover {
  background-color: #007aff;
  color: white;
}

.blocks-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px 12px;
}
.blocks-header h3 {
  font-size: 15px;
  font-weight: 400;
  flex: 1 0 auto;
}
.block {
  padding-top:7px;
}
.block:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
@media (min-width: 400px) {
  #products {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 49% 49%;
    grid-row-gap: 0px;
    grid-column-gap: 8px; 
  }
}
@media (max-width: 900px) {
  #products {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 49% 49%;
    grid-row-gap: 0px;
    grid-column-gap: 8px; 
  }
}

.svg-inline--fa {
  vertical-align: -0.200em;
}
.rounded-social-buttons {
  margin-top:10px;
  margin-right:50px;
}
.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  padding-bottom:30px;
}
.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.rounded-social-buttons .fa-whatsapp, .fa-github, .fa-telegram-plane, .fa-youtube, .fa-instagram, .fa-linkedin, .fa-facebook, .fa-twitter {
  font-size: 19px;
  margin-bottom:11px;
}
.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}
.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
.rounded-social-buttons .social-button.twitter {
  background: #55ACEE;
}
.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55ACEE;
  background: #fefefe;
  border-color: #55ACEE;
}
.rounded-social-buttons .social-button.github {
  background: #3b5998;
}
.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
.rounded-social-buttons .social-button.whatsapp {
  background: green;
}
.rounded-social-buttons .social-button.whatsapp:hover, .rounded-social-buttons .social-button.whatsapp:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}
.rounded-social-buttons .social-button.telegram {
  background: #007bb5;
}
.rounded-social-buttons .social-button.telegram:hover, .rounded-social-buttons .social-button.telegram:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}
.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}
.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}
.rounded-social-buttons .social-button.instagram {
  background: #125688;
}
.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
.rounded-social-buttons .social-button.linkedin {
  background: #0096FF;
}
.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}