html, body {
  width: 100vw;
  height: 100%;
}
a {
  text-decoration: none;
  color: #2d2c4d;
}
.navbar {
  background-color: #2d2c4d;
}
.card {
  border-radius:0px;
  border:none;
}
.card-img-top {
  border-radius:0px;
}